<body>
<header class="header" >

  

    

    <div class="header-bottom" data-header>
      <div class="container">
  
        <a href="#" class="logo"><img src="assets/images/logo.png"></a>
  
        <nav class="navbar container" data-navbar [ngClass]="status ? 'active' : ''">
          <ul class="navbar-list">
  
            <li>
              <a href="#home" class="navbar-link" data-nav-link>Home</a>
            </li>
  
            <li>
              <a  [routerLink]="['/services']" class="navbar-link" data-nav-link>Services</a>
            </li>
  
            <li>
              <a [routerLink]="['/about']" class="navbar-link" data-nav-link>About Us</a>
            </li>
  
            <li>
              <a [routerLink]="['/blog']" class="navbar-link" data-nav-link>Blog</a>
            </li>
  
            
            <li>
              <a [routerLink]="['/login']"         class="navbar-link" data-nav-link>Login</a>
            </li>
  
          </ul>
        </nav>
        <button  class="btn">Book appointment</button>
  
        <button class="nav-toggle-btn" aria-label="Toggle menu" data-nav-toggler (click)="addToggle()">
          <ion-icon name="menu-sharp" aria-hidden="true" class="menu-icon"></ion-icon>
          <ion-icon name="close-sharp" aria-hidden="true" class="close-icon"></ion-icon>
        </button>
  
      </div>
    </div>
  
  </header>
  
 <br><br><br>
<section class="section about" id="about" aria-label="about">
    <div class="container">

      <figure class="about-banner">
        <img src="assets/images/Stylish Hair Cut.png" width="330" height="538" loading="lazy" alt="about banner"
          class="w-100">
      </figure>

      <div class="about-content">

        <p class="section-subtitle">About Us</p>

        <h2 class="h2 section-title" style="color: #c6a16e">We Care For Your Dental Health</h2>

        <p class="section-text section-text-1">
          Aliquam ac sem et diam iaculis efficitur. Morbi in enim odio. Nullam quis volutpat est, sed dapibus
          sapien. Cras
          condimentum eu velit id tempor. Curabitur purus sapien, cursus sed nisl tristique, commodo vehicula arcu.
        </p>

        <p class="section-text">
          Aliquam erat volutpat. Aliquam enim massa, sagittis blandit ex mattis, ultricies posuere sapien. Morbi a
          dignissim enim.
          Fusce elementum, augue in elementum porta, sapien nunc volutpat ex, a accumsan nunc lectus eu lectus.
        </p>

        <a href="#" class="btn">Read more</a>

      </div>
      <br><br><br> <br>
    </div>
  </section>


</body>