<body style="zoom: 150%;">

	<head>
		
		<meta charset="utf-8">
	  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	  	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  	<meta name="description" content="Barbershop Booking Website">
	  	<meta name="author" content="JAIRI IDRISS">

  		<title>Dashboard</title>

  		

	</head >

	<body id="page-top">

  		<!-- Page Wrapper -->
  		<div id="wrapper">
	<!-- Sidebar -->
			<!-- Sidebar -->
			<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

                <!-- Sidebar - Brand -->
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="">
                  <div class="sidebar-brand-icon rotate-n-15">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-scissors" viewBox="0 0 16 16">
                          <path d="M3.5 3.5c-.614-.884-.074-1.962.858-2.5L8 7.226 11.642 1c.932.538 1.472 1.616.858 2.5L8.81 8.61l1.556 2.661a2.5 2.5 0 1 1-.794.637L8 9.73l-1.572 2.177a2.5 2.5 0 1 1-.794-.637L7.19 8.61 3.5 3.5zm2.5 10a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0zm7 0a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0z"/>
                        </svg>					</div>
                        
                  <div class="sidebar-brand-text mx-3">Barbershop</div>
                  
                </a>

                <!-- Divider -->
            
                <!-- Nav Item - Dashboard -->
                <li class="nav-item active">
                  <a class="nav-link" [routerLink]="['/admin']">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Dashboard</span>
                    </a>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider">

                <!-- Heading -->
                <div class="sidebar-heading">
                  SERVICES & SAMPLES
                </div>

              
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/services_admin']">
                      <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-scissors" viewBox="0 0 16 16">
                          <path d="M3.5 3.5c-.614-.884-.074-1.962.858-2.5L8 7.226 11.642 1c.932.538 1.472 1.616.858 2.5L8.81 8.61l1.556 2.661a2.5 2.5 0 1 1-.794.637L8 9.73l-1.572 2.177a2.5 2.5 0 1 1-.794-.637L7.19 8.61 3.5 3.5zm2.5 10a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0zm7 0a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0z"/>
                        </svg>		  				<span>Services</span>
                    </a>
                </li>
            
                

                <!-- Divider -->
                <hr class="sidebar-divider">

                <!-- Heading -->
                <div class="sidebar-heading">
                  CLIENTS & STAFF
                </div>

                <!-- Nav Item - Charts -->
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/client_admin']">
                        <i class="far fa-address-card"></i>
                        <span>Clients</span>
                    </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/employee_admin']">
                        <i class="far fa-user"></i>
                        <span>Employees</span>
                    </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/employeesschedule']">
                        <i class="fas fa-calendar-week icon-ver"></i>
                        <span>Employees Schedule</span>
                    </a>
                </li>
    
                <!-- Divider -->
                <hr class="sidebar-divider d-none d-md-block">

                <!-- Sidebar Toggler (Sidebar) -->
            
          </ul>
			
			<!-- End of Sidebar -->

			<!-- Content Wrapper -->
			<div id="content-wrapper" class="d-flex flex-column">
			  
			  	<!-- Main Content -->
			  	<div id="content">
					
			
					<!-- End of Topbar -->

		<!-- Begin Page Content -->
	<div class="container-fluid">
		<br><br>
		<!-- Page Heading -->
		<div class="d-sm-flex align-items-center justify-content-between mb-4">
			<h1 class="h3 mb-0 text-gray-800">Employees Schedule</h1>
			
		</div>

		<!-- Content Row -->
	
        
      
    
        <div class="card shadow mb-4" id="Page1">
            
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Employees Schedule</h6>
            </div>
            <div class="card-body">
                <div class="sb-entity-selector" style="max-width: 300px;">
                    <form action="employees-schedule.php" method="POST">
                        <div class="form-group">
                            <label class="control-label" for="employee_schedule_select">
                                Select employee to set up the schedule:
                            </label>&nbsp; &nbsp;
                            <div style="display: inline-block; margin-bottom: 10px;">
                                <select class="form-control" name="employee_selected">
                                    <option *ngFor="let employee of EmployeeList" [value]="employee.firstName">{{ employee.firstName }}</option>
                                </select>
                            </div>
                            <button name="show_schedule_sbmt" onclick="show('Page2', 'Page1')" class="btn btn-primary">Show schedule</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <input type="hidden" name="employee_id">
        <div class="worktime-days" id="Page2" style="display: none">
            
            <div class="alert alert-info">
                Configure your week settings here. Just select start time and end time to set up employees working hours.
            </div>
          

            <div class="worktime-day row" *ngFor="let employee of EmployeesSchedule">
                <div class="form-group col-md-4">
                    <span>
                        {{ getDays(employee.id) }}
                    </span>
                </div>
                <div class="time_ col-md-8 row">
                    
                    <div class="form-group col-md-6">
                        <input type="Time" step="2" name="from" [(ngModel)]="employee.from_hour" class="form-control">
                    </div>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
                    <div class="form-group" ><br><br>
                        <button  name="save_schedule_sbmt" (click)="updateSchedule(employee.day_id,employee.from_hour,employee.to_hour)" data-toggle="modal" [attr.data-target]="'#deleteModal' +employee.id"class="btn btn-info">Save schedule</button>
                    </div>
                    <div class="form-group col-md-6">
                        
                        <input type="Time" step="2"name="to" [(ngModel)]="employee.to_hour" class="form-control">
                        
                    </div>
               
                  
                  
                      
                    
                </div>
             
             
            <!-- Modal for Delete Confirmation -->
            <div class="modal fade"   [id]="'deleteModal' + employee.id" tabindex="-1" role="dialog" [attr.aria-labelledby]="'deleteModalLabel' +employee.id" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" [id]="'deleteModalLabel' + employee.id">Update Schedule</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <!-- Use *ngIf to conditionally render the modal body -->
                <div  class="modal-body" style="color: green;size: 10px;">
                    Schedule updated successfully
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-info"data-dismiss="modal">OK</button>
                </div>
               
              </div>
              
            </div>
            
           
        </div>
        

    <!-- SAVE SCHEDULE BUTTON -->

    

</div>
		
	  	<!-- End of Main Content -->

	  	<!-- Footer -->
	  	
	  	<!-- End of Footer -->

	</div>
	<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->
