.header-bottom{
    background-color:rgb(31, 29, 29) ;
}
.blog{
    background-color: rgb(31, 29, 29);
}
.card-title{
    color: white;
  }
  .header{
    color: black;
  }
.card-link{
    color: white;
}