<!-- 
  - #HEADER
-->

<header class="header">

  

    

    <div class="header-bottom" data-header>
      <div class="container">
  
        <a href="#" class="logo"><img src="assets/images/logo.png"></a>
  
        <nav class="navbar container" data-navbar [ngClass]="status ? 'active' : ''">
          <ul class="navbar-list">
  
            <li>
              <a href="#home" class="navbar-link" data-nav-link>Home</a>
            </li>
  
            <li>
              <a  [routerLink]="['/services']" class="navbar-link" data-nav-link>Services</a>
            </li>
  
            <li>
              <a [routerLink]="['/about']" class="navbar-link" data-nav-link>About Us</a>
            </li>
  
            <li>
              <a [routerLink]="['/blog']" class="navbar-link" data-nav-link>Blog</a>
            </li>
  
            
            <li>
              <a [routerLink]="['/login']"         class="navbar-link" data-nav-link>Login</a>
            </li>
  
          </ul>
        </nav>
        <button [routerLink]="['/appointement']" class="btn">Book appointment</button>
  
        <button class="nav-toggle-btn" aria-label="Toggle menu" data-nav-toggler (click)="addToggle()">
          <ion-icon name="menu-sharp" aria-hidden="true" class="menu-icon"></ion-icon>
          <ion-icon name="close-sharp" aria-hidden="true" class="close-icon"></ion-icon>
        </button>
  
      </div>
    </div>
  
  </header>
<section class="section blog" id="blog" aria-label="blog">
    <div class="container">

      <p class="section-subtitle text-center"style="color: white">Our Blog</p>

      <h2 class="h2 section-title text-center"style="color:#c6a16e ">Latest Blog & News</h2>

      <ul class="blog-list">

        <li>
          <div class="blog-card">

            <figure class="card-banner img-holder" style="--width: 1180; --height: 800;">
              <img src="assets/images/home-blog1.png" width="1180" height="800" loading="lazy"
                alt="Cras accumsan nulla nec lacus ultricies placerat." class="img-cover">

              <div class="card-badge"style="background-color: #c6a16e;">
                <ion-icon name="calendar-outline"></ion-icon>

                <time class="time" datetime="2022-03-24">24th March 2022</time>
              </div>
            </figure>

            <div class="card-content">

              <h3 class="h3">
                <a href="#" class="card-title">Cras accumsan nulla nec lacus ultricies placerat.</a>
              </h3>

              <p class="card-text">
                Curabitur sagittis libero tincidunt tempor finibus. Mauris at dignissim ligula, nec tristique orci.
              </p>

              <a href="#" class="card-link">Read More</a>

            </div>

          </div>
        </li>

        <li>
          <div class="blog-card">

            <figure class="card-banner img-holder" style="--width: 1180; --height: 800;">
              <img src="assets/images/gallery2.png" width="1180" height="800" loading="lazy"
                alt="Dras accumsan nulla nec lacus ultricies placerat." class="img-cover">

              <div class="card-badge">
                <ion-icon name="calendar-outline"></ion-icon>

                <time class="time" datetime="2022-03-24">24th March 2022</time>
              </div>
            </figure>

            <div class="card-content">

              <h3 class="h3">
                <a href="#" class="card-title">Dras accumsan nulla nec lacus ultricies placerat.</a>
              </h3>

              <p class="card-text">
                Curabitur sagittis libero tincidunt tempor finibus. Mauris at dignissim ligula, nec tristique orci.
              </p>

              <a href="#" class="card-link">Read More</a>

            </div>

          </div>
        </li>

        <li>
          <div class="blog-card">

            <figure class="card-banner img-holder" style="--width: 1180; --height: 800;">
              <img src="assets/images/home-blog2.png" width="1180" height="800" loading="lazy"
                alt="Seas accumsan nulla nec lacus ultricies placerat." class="img-cover">

              <div class="card-badge">
                <ion-icon name="calendar-outline"></ion-icon>

                <time class="time" datetime="2022-03-24">24th March 2022</time>
              </div>
            </figure>

            <div class="card-content">

              <h3 class="h3">
                <a href="#" class="card-title">Seas accumsan nulla nec lacus ultricies placerat.</a>
              </h3>

              <p class="card-text">
                Curabitur sagittis libero tincidunt tempor finibus. Mauris at dignissim ligula, nec tristique orci.
              </p>

              <a href="#" class="card-link">Read More</a>

            </div>

          </div>
        </li>

      </ul>

    </div>
  </section>


