<header class="header">

  

    

    <div class="header-bottom" data-header>
      <div class="container">
  
        <a href="#" class="logo"><img src="assets/images/logo.png"></a>
  
        <nav class="navbar container" data-navbar [ngClass]="status ? 'active' : ''">
          <ul class="navbar-list">
  
            <li>
              <a href="#home" class="navbar-link" data-nav-link>Home</a>
            </li>
  
            <li>
              <a  href="#service" class="navbar-link" data-nav-link>Services</a>
            </li>
  
            <li>
              <a href="#about" class="navbar-link" data-nav-link>About Us</a>
            </li>
  
            <li>
              <a href="#blog"class="navbar-link" data-nav-link>Blog</a>
            </li>
  
            
            <li>
              <a [routerLink]="['/login']"         class="navbar-link" data-nav-link>Login</a>
            </li>
              <li>
              <a href="#footer"       class="navbar-link" data-nav-link>Contact</a>
            </li>
  
          </ul>
        </nav>
  
        
  
        <button class="nav-toggle-btn" aria-label="Toggle menu" data-nav-toggler (click)="addToggle()">
          <ion-icon name="menu-sharp" aria-hidden="true" class="menu-icon"></ion-icon>
          <ion-icon name="close-sharp" aria-hidden="true" class="close-icon"></ion-icon>
        </button>
  
      </div>
    </div>
  
  </header>